In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\anaconda\files\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\files\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in d:\anaconda\files\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\files\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in d:\anaconda\files\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd

# Read the Excel file
pharmacy_data = pd.read_excel('Pharmacy.xlsx')

def generate_insert_queries(dataframe, table_name):
    queries = []
    for index, row in dataframe.iterrows():
        item_code = row.get('Item_Code', '')
        description = row.get('Description', '')
        category = row.get('Category', '')
        cost_rate = row.get('CostRate', 0)
        sales_rate = row.get('SalesRate', 0)
        generic = row.get('Generic', '')

        # Generate SQL insert query
        query = f"INSERT INTO {table_name} (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('{item_code}', '{description}', '{category}', {cost_rate}, {sales_rate}, '{generic}');"
        queries.append(query)
    return queries

# Generate SQL insert queries
insert_queries = generate_insert_queries(pharmacy_data, 'Product_TB')

# Print the SQL insert queries
for query in insert_queries:
    print(query)
    
    
    # Export SQL insert queries to a SQL file
# with open('insert_queries.sql', 'w') as sql_file:
    #for query in insert_queries:
       # sql_file.write(query + '\n')

# Export SQL insert queries to a text file
with open('insert_queries.txt', 'w') as text_file:
    for query in insert_queries:
        text_file.write(query + '\n')

INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('AO503', 'Atorva 5mg', '', 6.71, 7.72, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0180', 'Atorva 10mg', '', 11.64, 13.39, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0187', 'Atorva 20mg', '', 18.38, 21.14, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0463', 'Atorva 40mg', '', 25.86, 29.74, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0183', 'Atorlip 10mg', '', 5.5, 6.36, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0184', 'Atorlip 20mg', '', 9.26, 10.76, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0537', 'Atorem 10mg', '', 3.5, 4.02, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0538', 'Atorem 20mg', '', 5.5, 6.32, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0284', 'Lipitor 10mg', '', 11.65, 13.4, 'Atorvastatin Calcium');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0285', 'Lipitor 20mg', '', 16.07, 18.48, 'Atorvastatin Calcium');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('V0016', 'Vasolip 10mg', '', 11.64, 13.29, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('V0017', 'Vasolip 20mg', '', 18.38, 21.14, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0130', 'Lipizim 10mg', '', 5.2, 6.0, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0131', 'Lipizim 20mg', '', 6.95, 8.0, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0388', 'Atorvastin 20mg', '', 1.74, 2.19, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('P0057', 'Zastova 10mg', '', 8.55, 10.0, 'Atorvastatin Calcium');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0223', 'Aztor 10mg', '', 11.65, 13.4, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('K0286', 'Liplo 10mg', '', 8.29, 9.5, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0799', 'Liplo 20mg', '', 10.87, 12.5, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0180', 'Atocor 20mg', '', 11.7, 13.4, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0179', 'Atocor 20mg', '', 18.39, 21.14, 'Atorvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0098', 'Rovista 10mg', '', 33.91, 39.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0099', 'Rovista 20mg', '', 63.18, 73.91, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0735', 'Crestor 5mg', '', 22.46, 25.82, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0838', 'Crestor 10mg', '', 38.63, 44.42, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0092', 'Rosuvas 5mg', '', 22.43, 25.82, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0091', 'Rosuvas 10mg', '', 38.64, 44.46, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0175', 'Rosuvas 20mg', '', 64.09, 74.99, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0119', 'Zyrova 5mg', '', 20.89, 24.02, 'Rosuvastatin calcium');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0017', 'Zyrova 10mg', '', 38.64, 44.44, 'Rosuvastatin calcium');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0128', 'Zyrova 20mg', '', 63.09, 71.93, 'Rosuvastatin calcium');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0041', 'Lipicard 20mg', '', 30.83, 35.46, 'Fenofibrate');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0167', 'Rosulip 5mg', '', 15.13, 18.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0542', 'Rosulip 10mg', '', 30.5, 35.4, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('D0167', 'Rosulip 20mg', '', 56.0, 65.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('F0064', 'Fibral 20mg', '', 35.95, 41.81, 'Fenofibrate');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('S0109', 'Simuvas 20mg', '', 25.64, 29.81, 'Simvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('S0108', 'Simuvas 10mg', '', 19.3, 22.43, 'Simvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0241', 'Roseday 5mg', '', 19.81, 22.8, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('D0156', 'Roseday 10mg', '', 30.13, 34.65, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0251', 'Rostat 5mg', '', 18.54, 21.5, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0090', 'Rostat 10mg', '', 31.9, 37.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0250', 'Rostat 20mg', '', 66.2, 76.78, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('X0011', 'x-Pendel 5mg', '', 19.53, 25.83, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('X0009', 'x-Pendel 5mg', '', 37.8, 43.48, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0024', 'x-Pendel 5mg', '', 48.94, 56.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0122', 'Mibe 10mg', '', 25.94, 30.12, 'Ezetimibe');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('E0115', 'Eizita 10mg', '', 19.57, 22.9, 'Ezetimibe');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('U0001', 'Udihep 150mg', '', 63.8, 110.0, 'Urursodeoxycholic Acid');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('U0017', 'Udihep 300mg', '', 121.1, 139.26, 'Urursodeoxycholic Acid');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0095', 'Rovatin 5mg', '', 20.0, 23.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0099', 'Rovatin 10mg', '', 25.16, 29.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0168', 'Rovatin 20mg', '', 43.33, 50.0, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0750', 'Vaptor 5mg', '', 19.0, 21.1, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0030', 'Vaptor 10mg', '', 23.74, 27.3, 'Rosuvastatin');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0073', 'Losacar 25mg', '', 7.67, 8.83, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0074', 'Losacar 50mg', '', 0.76, 12.37, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0069', 'Losacar 25mg', '', 20.3, 23.36, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0078', 'Losatrust 25mg', '', 2.19, 2.25, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0079', 'Losatrust 50mg', '', 3.13, 3.6, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0080', 'Losatrust H', '', 7.46, 8.58, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('O0177', 'Osartil 25mg', '', 3.04, 3.5, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('O0150', 'Osartil 50mg', '', 4.35, 5.0, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0042', 'Repace 25mg', '', 7.67, 8.83, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0043', 'Repace 50mg', '', 10.75, 12.37, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0041', 'Repace H', '', 20.31, 23.36, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0203', 'Moyotan 25mg', '', 7.67, 8.82, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0204', 'Moyotan 50mg', '', 10.75, 12.37, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0548', 'Cosart 25mg', '', 4.0, 4.6, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0288', 'Cosart 50mg', '', 6.95, 8.0, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0123', 'Angizaar 25mg', '', 7.59, 8.83, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0115', 'Angizaar 50mg', '', 10.65, 12.38, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0002', 'Zaart 25mg', '', 6.51, 7.75, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0003', 'Zaart 50mg', '', 10.66, 12.36, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0001', 'Zaart H', '', 14.7, 17.05, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('K0294', 'Lok 50mg', '', 8.87, 10.2, 'Losartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0128', 'Telday 20mg', '', 10.65, 12.25, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0126', 'Telday 40mg', '', 16.92, 19.46, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0123', 'Telday 80mg', '', 31.75, 36.52, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0174', 'Telday H', '', 22.8, 12.25, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0155', 'Tasmi 20mg', '', 10.65, 12.25, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0007', 'Tasmi 40mg', '', 16.89, 19.42, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0175', 'Tasmi 80mg', '', 25.18, 36.5, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0015', 'Tazloc 20mg', '', 10.63, 12.23, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0016', 'Tazloc 40mg', '', 16.88, 19.43, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0169', 'Tazloc 80mg', '', 30.55, 35.13, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0296', 'Tazloc H', '', 18.79, 25.0, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0028', 'Telsart 20mg', '', 10.64, 12.25, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0029', 'Telsart 40mg', '', 16.92, 19.46, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0183', 'Telsart H', '', 25.1, 36.7, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0292', 'Tel od 20mg', '', 7.1, 8.2, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0293', 'Tel od 40mg', '', 13.84, 15.91, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0145', 'Telcard 20mg', '', 7.83, 9.0, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0154', 'Telcard 40mg', '', 12.16, 9.0, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('D0160', 'Telmisar 20mg', '', 9.31, 10.2, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('D0149', 'Telmisar 40mg', '', 16.92, 19.46, 'Telmisartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0059', 'Carvil 3.125mg', '', 2.43, 3.3, 'Carvedilol');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0056', 'Carvil 6.25mg', '', 4.06, 5.15, 'Carvedilol');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0646', 'Carvil 12.5mg', '', 7.4, 11.35, 'Carvedilol');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('N0017', 'Natriliz SR 1.5mg', '', 29.2, 34.16, 'Indapamide');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('L0068', 'Natriliz SR 2.5mg', '', 24.7, 29.2, 'Indapamide');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0287', 'Rancv 500mg', '', 29.2, 31.66, 'Ranolazine');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R1560', 'Renaclium 60mg', '', 8.5, 10.0, 'Sodiumbicabank');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C7896', 'Cardace 2.5mg', '', 15.6, 17.94, 'Ramipril');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C1478', 'Cardace 5mg', '', 25.68, 29.53, 'Ramipril');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('B0519', 'Irbezyd 75mg', '', 15.13, 17.7, 'Irbesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0391', 'Irbezyd 150mg', '', 26.79, 34.55, 'Irbesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('I0258', 'Irbezyd 300mg', '', 52.45, 61.71, 'Irbesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('I0025', 'Irovel H', '', 22.52, 38.75, 'Irbesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('I0024', 'Irovel 150mg', '', 33.11, 46.07, 'Irbesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('I0023', 'Irovel 300mg', '', 40.06, 26.17, 'Irbesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('B0542', 'Coralan 5mg', '', 46.15, 55.58, 'Ivabracline');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('N0057', 'Nebivus 5mg', '', 27.08, 31.46, 'Nebivol');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('N0052', 'Nebicard 5mg', '', 20.34, 23.39, 'Nebivolol');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('T0157', 'Tizorel 2mg', '', 26.31, 34.47, 'Tizanidine');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M258', 'Myoxyl 2mg', '', 21.08, 24.8, 'Tizanidine');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0037', 'Alkay-Er 600mg', '', 4.17, 5.86, 'Potassium ');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0251', 'Alkay-Er', '', 2.17, 5.86, 'Chloride');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0127', 'Moduretic ', '', 14.62, 17.21, 'Amiloricle');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('M0360', 'Moduretic SPC', '', 6.21, 17.2, 'Hydrochl');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0028', 'Advant 8mg', '', 17.81, 20.85, 'canclesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0027', 'Advant 10mg', '', 27.22, 31.85, 'canclesartan');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('P0066', 'Zantin 25mg', '', 4.0, 14.47, 'Dipyridomle');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('Z0153', 'Zantin 100mg', '', 12.37, 14.47, 'Dipyridomle');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('C0102', 'Carvesul 5mg', '', 32.53, 38.06, 'Perindopril');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('P5818', 'Preterarx 5/12.5mg', '', 38.76, 46.7, 'Perindopril');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('R0151', 'Rreteraz 10mg', '', 12.6, 14.74, 'Perindopril');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('A0031', 'Aldomet 250mg', '', 15.6, 18.79, 'Methyldopa');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('D0106', 'Dilzem 30mg', '', 2.36, 3.16, 'Dilfiazem');
INSERT INTO Product_TB (Item_Code, Description, Category, CostRate, SalesRate, Generic) VALUES ('D0107', 'Dilzem 60mg', '', 3.26, 4.29, 'Dilfiazem');